.warna-bg{
    background: linear-gradient(to right, rgba(91,134,229, .92), rgba(59,209,220, .92));
}

.Jumbotron-bg{
    background-size: cover;
    background: url(../img/header.jpg);
    background-size: 300px;
}

.edit-login {
    width: 30%;
    margin-top: 4%;
    margin-left: 35%;
    box-shadow: 0 3px 20px rgba(12, 12, 12, 0.3);
    padding: 30px;
    background-color:white;
}

.edit-register {
    width: 30%;
    margin-top: 3%;
    margin-left: 35%;
    box-shadow: 0 3px 20px rgba(12, 12, 12, 0.3);
    padding: 35px;
    background-color: white;
}


